@import '../colors';
@import '../mixins';

.meme-box {
    @include flex-center-row;
    flex-wrap: wrap; 
    margin: 2rem;
    width: 100%;

    @media screen and (max-width: 1041px) {
        &>div:first-child {
            margin-bottom: 1rem;
        }
    }
    div:first-child {
        margin-right: 1rem;

        @media screen and (max-width: 1041px) {
            margin-right: 0rem;
        }
    }

}

.main-btn {
    background-color: $pink;
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
    color: $white;
    border: none;
    cursor: pointer;
    
    &:hover {
        background-color: $blue;
    }
}