@import '../colors';
@import '../mixins';

.controls {
    @include flex-center-col;
    width: 500px;
    font-size: 2rem;
}

.block {
    @include flex-center-row;
    width: 90%;
    margin-bottom: 1rem;

    button {
        background-color: transparent;
        font-size: 1.5rem;
        border: none;
        cursor: pointer;

        &:hover {
            color: $blue;
        }
    }

    div {
        @include flex-center-row;
        .active {
            color: $pink;
        }
    }
}

.input-box {
    @include flex-center-col;
    width: 100%;
}

input[type=text] {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    padding: 0.4rem;
    border-style: none;
    border-bottom: 4px solid $black;
    background-color: transparent;

    &:focus {
        outline: none;        
    }
}

input[type=file] {
    display: none;
}

.file-upload {
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;

    &:hover {
        color: $blue;
    }
}

input[type=text]:focus+.underline {
    transform: scale(1);
}

.underline {
    width: 100%;
    border-bottom: 4px solid $pink;
    margin-top: -4px;
    transform: scale(0, 1);
    transition: all 250ms linear;
}

.btn-txt {
    align-self: flex-end;
    margin-left: 0.2rem;
    text-align: start;
}

.size-control {
    // width: 150px;
    display: flex;
    justify-content: space-between;
    span {
        // margin-left: 1rem;
        text-align: center;
        width: 60px;
    }
    button {
        margin-left: 0;
    }
}

.values-title {
    // flex-grow: 1;
    // max-width: 150px;
    width: 25%;
}

.values-box {
    width: 75%;
    // flex-grow: 2;
    @include flex-center-row;

    .font-type {
        margin-left: 1rem;
    }
}

@keyframes hover-fatty {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3, 1);
    }
    100% {
        transform:scale(1);
    }  
}
