@import '../mixins';

.img-wrap {
    @include flex-center-col;
}

figure {
    max-width: 600px;
    max-height: 500px;
    @include flex-center-col;
    position: relative;
    
    @media screen and (max-width: 1041px) {
        max-width: 500px;
        max-height: 500px;
    }

    img {
        max-width: 600px;
        max-height: 500px;
        width: 100%;
        height: auto;

        @media screen and (max-width: 1041px) {
            max-width: 500px;
            max-height: 500px;
        }
    }

    p {
        position: absolute;
        max-width: 600px;
        word-break: break-all;
    }
    .meme-top-text {
        top: 1.5rem;
    }
    .meme-bottom-text {
        bottom: 1.5rem;
    }

}


.comicsans {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.arial {
    font-family: Arial, Helvetica, sans-serif;
}
.pacifico {
    font-family: 'Pacifico', cursive;
}