@import '../mixins';
@import '../colors';

.img-wrap {
    @include flex-center-col;
}

figure {
    max-width: 600px;
    max-height: 500px;
    @include flex-center-col;
    position: relative;
    margin-bottom: 0.5rem;
    overflow: hidden;
    
    @media screen and (max-width: 1041px) {
        max-width: 500px;
        max-height: 500px;
    }

    @media screen and (max-width: 540px) {
        width: 100%;
        // max-height: 250px;
    }

    img {
        max-width: 600px;
        max-height: 500px;
        width: 100%;
        height: auto;

        @media screen and (max-width: 1041px) {
            max-width: 500px;
            max-height: 400px;
        }

        @media screen and (max-width: 540px) {
            max-width: 100%;
            // max-height: 250px;
        }
    }

    p {
        position: absolute;
        max-width: 600px;
        word-break: break-all;
    }
    .meme-top-text {
        top: 5%;

        // @media screen and (max-width: 540px) {
        //     top: 1rem;
        // }
    }
    .meme-bottom-text {
        bottom: 5%;

        // @media screen and (max-width: 540px) {
        //     bottom: 1rem;
        // }
    }

}

.download-box {
    @include flex-center-row;

    .select-btn {
        background-color: transparent;
        font-size: 1.5rem;
        border: none;
        cursor: pointer;
        margin-right: 0.5rem;

        &:last-child {
            margin-right: 1rem;
        }

        @media screen and (max-width: 540px) {
            font-size: 1.2rem;
        }

        &:hover {
            color: $blue;
        }

        &:active, &:focus {
            color: $pink;
            outline: none;
        }

    }


    .download-btn {
        width: 25px;
        height: 25px;
        border: none;
        cursor: pointer;
        background: url('../img/direct-download.png');
        background-repeat: no-repeat;
        background-size: 25px 25px;

        &:hover {
            background: url('../img/direct-download-blue.png');
            background-repeat: no-repeat;
            background-size: 25px 25px;
        }
        
        &:active, &:focus {
            background: url('../img/direct-download-pink.png');
            background-repeat: no-repeat;
            background-size: 25px 25px;
            outline: none;
        }
    }

}


.comicsans {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.arial {
    font-family: Arial, Helvetica, sans-serif;
}
.pacifico {
    font-family: 'Pacifico', cursive;
}