@import '../mixins';

figure {
    width: 600px;
    height: 600px;
    @include flex-center-col;
    
    img {
        max-width: 600px;
        max-height: 600px;
    }
}


.comicsans {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.arial {
    font-family: Arial, Helvetica, sans-serif;
}
.pacifico {
    font-family: 'Pacifico', cursive;
}