@import '../colors';
@import '../mixins';

nav {
    position: fixed;
    top: 1.5rem;
    opacity: 0;
    right: 1rem;
    
    button {
        font-size: 1.2rem;
        background-color: transparent;
        border: none;
        cursor: pointer;

        &:hover {
            color: $blue;
        }
        &:active, &:focus {
            color: $pink;
        }
    }

}

.nav-appear {
    animation: nav-appear 400ms;
    animation-delay: 500ms;
    animation-fill-mode: forwards;
}

@keyframes nav-appear {
    100%{
        opacity: 1;
        top: 0.5rem;
    }
}
